@using SUShirts.Data.Enums
@model SUShirts.Models.ShirtListModel

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xxl-4 g-3 mb-4">
    @foreach (var dto in Model.Shirts)
    {
        <div class="col">
            <div class="card shirt-item" data-sid="@dto.Id">
                <img src="@Url.Content($"~{dto.ImageUrl}")" alt="Fotka trička" class="card-img-top"/>
                <div class="card-body">
                    <h5 class="card-title">@dto.Name</h5>
                    <div class="card-text">
                        <div class="row align-items-start mt-2">
                            <div class="col-auto col-form-label">
                                <label class="form-label">Velikost:</label>
                            </div>
                            <div class="col">
                                <select class="form-select variant-select" data-sid="@dto.Id">
                                    @foreach (var variant in dto.Variants)
                                    {
                                        <option value="@variant.Id" data-price="@variant.Price" data-left="@variant.ItemsLeft">
                                            @variant.Size.ToString()
                                            @if (variant.Sex == SexVariant.Unisex)
                                            {
                                                @:(unisex)
                                            }
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>

                        <hr class="mt-2">
                        <div class="row align-items-baseline">
                            <div class="col-auto">
                                <h5 class="price-label">@dto.Variants[0].Price Kč</h5>
                            </div>
                            <div class="col">
                                skladem <span class="left-label">@dto.Variants[0].ItemsLeft</span> ks
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary disabled minus-btn">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <span class="items-counter">0</span>
                                <button class="btn btn-primary plus-btn">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
