@page "/Admin/Reservations/{id:int}"
@using SUShirts.Data.Enums
@using SUShirts.Data.Extensions
@model SUShirts.Pages.Admin.ReservationDetail

<h2>
    Rezervace #@Model.Reservation.Id –
    <span class="@(Model.Reservation.State switch { 
                     ReservationState.New => "text-danger",
                     ReservationState.Assigned => "text-warning",
                     ReservationState.Finished => "text-success",
                     ReservationState.Cancelled => "text-success",
                     _ => throw new ArgumentOutOfRangeException()})">
        @(Model.Reservation.State switch {
            ReservationState.New => "nevyřízená",
            ReservationState.Assigned => "přiřazená",
            ReservationState.Finished => "vyřízená",
            ReservationState.Cancelled => "zrušená",
            _ => throw new ArgumentOutOfRangeException()})
    </span>
</h2>

@if (Model.ErrorMessage is not null)
{
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}

<p>
    Jméno: @Model.Reservation.Name<br>
    E-mail: <a href="mailto:@Model.Reservation.Email">@Model.Reservation.Email</a><br>
    Telefon/Discord: @(Model.Reservation.PhoneOrDiscordTag ?? "neuveden")<br>
</p>

@if (!string.IsNullOrEmpty(Model.Reservation.Note))
{
    <h5>Poznámka rezervujícího</h5>
    <p>
        @Html.Raw(Model.Reservation.Note.Replace("\n", "<br>"))
    </p>
}

<table class="table mb-4">
    <thead>
    <tr>
        <th scope="col">Název</th>
        <th scope="col">Velikost</th>
        <th scope="col">Střih</th>
        <th scope="col">Cena</th>
        <th scope="col">
            @if (Model.Reservation.State.IsClosed())
            {
                @:Vydaných kusů 
            }
            else
            {
                @:Požadovaných kusů 
            }
        </th>
        <th scope="col">Kusů na skladě</th>
        <th scope="col">Kusů k dispozici</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Reservation.Items.OrderBy(ri => ri.ShirtSex).ThenBy(ri => ri.ShirtName).ThenBy(ri => ri.ShirtSize))
    {
        <tr>
            <th scope="row">@item.ShirtName</th>
            <td>@item.ShirtSize.ToString()</td>
            <td>@(item.ShirtSex switch { SexVariant.Man => "pánský", SexVariant.Woman => "dámský", SexVariant.Unisex => "uni", _ => "?"})</td>
            <td>@item.Price Kč</td>
            <td>
                @item.Count&nbsp;
                @if (!Model.Reservation.State.IsClosed())
                {
                    if (item.Count > 0)
                    {
                        <a asp-page-handler="RemoveItem" asp-route-variantId="@item.ShirtVariantId" class="btn btn-outline-secondary">
                            <i class="fa fa-minus"></i>
                        </a>
                    }

                    if (item.LeftForReserving > 0)
                    {
                        <a asp-page-handler="AddItem" asp-route-variantId="@item.ShirtVariantId" class="btn btn-outline-secondary">
                            <i class="fa fa-plus"></i>
                        </a>
                    }
                }
            </td>
            <td>@item.InStock</td>
            <td>@item.LeftForReserving</td>
        </tr>
    }
    </tbody>
</table>

<h5>Interní informace</h5>
@if (Model.Reservation.State.IsClosed())
{
    <p>
        Vyřizoval (přiřazený člověk): @Model.InternalInfo.AssignedTo<br>
        Vyřídil (potvrdil/zrušil): @Model.Reservation.HandledBy (@Model.Reservation.HandledOn!.Value.ToString("dd. MM. yyyy HH:mm"))
    </p>

    if (!string.IsNullOrEmpty(Model.InternalInfo.Note))
    {
        <h6>Poznámka</h6>
        <p>
            @Html.Raw(Model.InternalInfo.Note.Replace("\n", "<br>"))
        </p>
    }
}
else
{
    <form method="post" asp-page-handler="SetInternalInfo">
        <div class="mb-3">
            <label asp-for="InternalInfo.AssignedTo" class="form-label">Vyřizuje</label>
            <input type="text" class="form-control" asp-for="InternalInfo.AssignedTo">
            <span asp-validation-for="InternalInfo.AssignedTo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="InternalInfo.Note" class="form-label">Interní poznámka</label>
            <textarea class="form-control" style="height: 6em;" asp-for="InternalInfo.Note" placeholder="předám mu to příští týden…"></textarea>
            <span asp-validation-for="Reservation.Note" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-outline-secondary mb-4">Uložit</button>
    </form>
}

@if (!Model.Reservation.State.IsClosed())
{
    <a asp-page-handler="Finish" class="btn btn-primary">Označit jako vyřízenou</a>
    <a asp-page-handler="Cancel" class="btn btn-outline-danger">Zrušit</a>

    <div class="form-text">
        Označením za vyřízenou stvrzuji, že jsem přebral peníze a vydal jsem trička (případně že peníze došly na účet a domluvil jsem se na jeho předání).
    </div>
}

<a asp-page="Reservations" class="d-block mt-2">Zpět na rezervace</a>
